{
  "plugins": [
    "syntax-trailing-function-commas",
    "transform-flow-strip-types",
    "transform-es2015-destructuring",
    "transform-es2015-parameters",
    "transform-async-to-generator",
    "transform-strict-mode",
    ["transform-inline-imports-commonjs", {"allowTopLevelThis": true}]
  ],
  "retainLines": true
}
