{
  "plugins": [
    "syntax-trailing-function-commas",
    "transform-flow-strip-types",
    "transform-es2015-destructuring",
    "transform-es2015-parameters",
    "transform-async-to-generator",
    "transform-strict-mode",
    ["transform-inline-imports-commonjs", {"allowTopLevelThis": true, "excludeModules": [
      "jest-circus",
      "jest-diff",
      "jest-get-type",
      "jest-jasmine2",
      "jest-matcher-utils",
      "jest-matchers",
      "jest-message-util",
      "jest-regex-util",
      "jest-snapshot",
      "jest-util",
      "jest-validate",
      "pretty-format"
    ]}]
  ],
  "retainLines": true
}
