{
  "extends": "./packages/eslint-config-fb-strict/index.js",
  "parser": "babel-eslint",
  "rules": {
    "computed-property-spacing": 0,
    "flowtype/boolean-style": 2,
    "flowtype/no-primitive-constructor-types": 2,
    "flowtype/require-valid-file-annotation": 2,
    "max-len": 0,
    "no-multiple-empty-lines": 1
  },
  "plugins": [
    "markdown"
  ]
}
