**/coverage/**
**/node_modules/**
**/vendor/**
bin/
docs/
examples/react-native
flow-typed/**
packages/*/build/**
types/**
website/build
website/node_modules
website/core/metadata*.js
website/src/jest/docs
website/src/jest/blog
