{
  "extends": "./packages/eslint-config-fb-strict/index.js",
  "parser": "babel-eslint",
  "rules": {
    "no-multiple-empty-lines": 1,
    "require-valid-file-annotation": 1
  },
  "plugins": [
    "markdown"
  ]
}
