**/coverage/**
**/node_modules/**
bin/
docs/
flow-typed/**
packages/*/build/**
types/**
website/build
website/node_modules
website/core/metadata*.js
website/src/jest/docs
website/src/jest/blog
website/i18n/*.js