.idea
.DS_STORE
.eslintcache
*.swp
*~
/examples/*/node_modules/
/examples/mongodb/globalConfig.json

/e2e/*/node_modules
/e2e/*/.pnp
/e2e/*/.pnp.js
!/e2e/presets/json/node_modules
!/e2e/presets/js/node_modules
/e2e/transform/*/coverage
/e2e/transform/*/node_modules

/node_modules

/packages/*/build/
/packages/*/coverage/
/packages/*/node_modules/

/website/.docusaurus
/website/build
/website/backers.json
/website/node_modules
/website/yarn.lock
/website/i18n/*

/benchmarks/*/node_modules/

/reports/*

coverage
lerna-debug.log
npm-debug.log
npm-debug.log*
yarn-error.log*
junit.xml
package-lock.json

*.tsbuildinfo

# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored but nested for e2e directories
**/.yarn/*
!**/.yarn/patches
!**/.yarn/releases
!**/.yarn/plugins
!**/.yarn/sdks
!**/.yarn/versions
**/.pnp.*

crowdin-cli.jar
