*~
*.swp
.DS_STORE
/node_modules
/examples/*/node_modules/
/packages/*/node_modules/
/packages/*/build/
/packages/*/coverage/
/website/build
/website/node_modules
/integration_tests/transform/*/coverage
/integration_tests/transform/*/node_modules
/integration_tests/*/node_modules
npm-debug.log
website/core/metadata*.js
website/src/jest/docs
website/src/jest/blog
lerna-debug.log
npm-debug.log*
coverage
.eslintcache
