api-extractor.json
coverage

/packages/*/build
/packages/jest-config/src/__tests__/jest-preset.json
/packages/pretty-format/perf/world.geo.json

/website/.docusaurus
/website/backers.json
/website/build
/website/versions.json
