.idea
.DS_STORE
.eslintcache
*.swp
*~
api-extractor.json
coverage

/packages/*/build
/packages/jest-config/src/__tests__/jest-preset.json
/packages/pretty-format/perf/world.geo.json

# Breaks tests
/e2e/coverage-handlebars/greet.hbs

# Third-party script
packages/jest-diff/src/cleanupSemantic.ts

/website/.docusaurus
/website/backers.json
/website/build
/website/versions.json

**/.yarn
**/.pnp.*
