language: node_js

node_js:
  - "4"
  - "6"

sudo: required

cache:
  directories:
    - ".eslintcache"
    - "node_modules"
    - $HOME/.yarn-cache

before_install:
  # Repo for Yarn
  - sudo apt-key adv --keyserver pgp.mit.edu --recv D101F7899D41F3C3
  - echo "deb http://dl.yarnpkg.com/debian/ stable main" | sudo tee /etc/apt/sources.list.d/yarn.list
  - sudo apt-get update -qq
  - sudo apt-get install -y -qq yarn
  - yarn global add npm@latest

install: yarn

script: yarn run test-ci
