language: node_js

node_js:
  - "7"

sudo: false

cache:
  yarn: true
  directories:
    - ".eslintcache"
    - "node_modules"

script:
  - yarn run test-ci
  - (cd danger && yarn install)
  - yarn run danger
