.mainContainer {
  flex: initial;
}

.sponsor-item {
  margin: 10px;
}

.sponsor-avatar {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid white;
  overflow: hidden;
}

.backer-item {
  margin: 2px;
}

.backer-avatar {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid white;
  overflow: hidden;
}

.support-button {
  margin-top: 10px;
  display: inline-block;
  padding: 0.4em 1em;
  text-transform: uppercase;
  color: #99424f;
  border: 1px solid #99424f;
  border-radius: 1.25em;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}

.support-button:hover {
  background: #99424f;
  color: #ffffff;
}
