// @flow
it('works with old functions', function() {

});

it('works with new functions', () => {

});

it('works with flow functions', () => {
  function foo(x: string): string { return x; }
});

it('works with JSX', ()=> {
  const foo = () => <div></div>;
})

it.only('works with it.only', () => {

});

fit('works with fit', () => {

});

test('works with test', () => {

});

test.only('works with test.only', () => {

});
