name: Node CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - '**'

jobs:
  lint-and-typecheck:
    name: Running TypeScript compiler & ESLint
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Get yarn cache
        id: yarn-cache
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - uses: actions/cache@v1
        with:
          path: ${{ steps.yarn-cache.outputs.dir }}
          key: ubuntu-latest-node-12.x-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ubuntu-latest-node-12.x-yarn-
      - uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - name: install
        run: yarn install-no-ts-build
      - name: build
        run: node scripts/build.js
      - name: run tsc
        run: yarn build:ts
      - name: run eslint & prettier
        uses: samuelmeuli/lint-action@v0.4
        with:
          github_token: ${{ secrets.github_token }}
          eslint: true
          eslint_extenstions: js,jsx,ts,tsx,md
          prettier: true
          prettier_extensions: md,yml,yaml
      - name: run eslint on browser builds
        run: yarn lint-es5-build
      - name: check copyright headers
        run: yarn check-copyright-headers
